# Đồ án cuối kỳ môn Lập trình cho Khoa học dữ liệu
## Giảng viên hướng dẫn: 
##### Thầy Trần Trung Kiên
##### Cô Phan Thị Phương Uyên
## Sinh viên thực hiện:
##### Dương Hoàng Quang Khanh, mã sinh viên: 1712521

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
data = pd.read_csv("comtrade_data.csv")
print(data.shape)
data.head(5)

(32222, 28)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H3,2010,2010,2010,2,0,0,X,704,Viet Nam,VNM,0,World,W00,3,"Fish and crustaceans, molluscs and other aquat...",-1,NaN,NaN,-1,NaN,NaN,NaN,NaN,4110094313,NaN,4.110094e+09,0
1,H3,2010,2010,2010,2,0,0,X,704,Viet Nam,VNM,0,World,W00,8,"Fruit and nuts, edible; peel of citrus fruit o...",-1,NaN,NaN,-1,NaN,NaN,NaN,NaN,1310258488,NaN,1.310258e+09,0
2,H3,2010,2010,2010,2,0,0,X,704,Viet Nam,VNM,0,World,W00,9,"Coffee, tea, mate and spices",-1,NaN,NaN,-1,NaN,NaN,NaN,NaN,2537295128,NaN,2.537295e+09,0
3,H3,2010,2010,2010,2,0,0,X,704,Viet Nam,VNM,0,World,W00,10,Cereals,-1,NaN,NaN,-1,NaN,NaN,NaN,NaN,3251393758,NaN,3.251394e+09,0
4,H3,2010,2010,2010,2,0,0,X,704,Viet Nam,VNM,0,World,W00,27,"Mineral fuels, mineral oils and products of th...",-1,NaN,NaN,-1,NaN,NaN,NaN,NaN,7979703097,NaN,7.979703e+09,0